*{
    margin:0;
    padding:0;
}
.session {
    width: 700px;
    height: 400px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
.session1 {
	width: 300px;
	height: 0px;
}
.but {
	margin-bottom: 20px;
}
.now{
	border: 1px solid black;
	padding: 10px 10px 20px 10px;
	margin-bottom: 5px;
}
.txt{
	margin-bottom: 5%;
    width:20vw;
    height:5vh;
    border:1px ridge #d5d5e6;
    background-color: #f2f2f2;
}



.btn{
    width:8vw;
    height:5vh;
    background-color:#f2f2f2;
    border:0px;
    font-weight: bold;
    margin-bottom: 5%;
}
.biti {
	color: blue;
	text-decoration: underline;
}
.session2 {
	width: 315px;
	height: 150px;
	margin-left: 330px;
}
.however {
	margin-bottom: 20px;
}
.oh{
	border: 1px solid black;
	padding: 10px 10px 20px 10px;
	margin-bottom: 20px;
}
.new {
	margin-left: 67px;
}
.bxt {
	margin-bottom:5%;
    width:9vw;
    height:5vh;
    border:1px ridge #d5d5e6;
    background-color: #f2f2f2;
}
.axt {
	margin-bottom:5%;
    width:9vw;
    height:5vh;
    border:1px ridge #d5d5e6;
    margin-left: 18px;
    background-color: #f2f2f2;
}